Importe de Librerias necesarias

In [1]:
import requests
import pandas as pd
import numpy as np
from sodapy import Socrata

In [2]:
# Define una función para calcular todas las estadísticas descriptivas a la vez
def all_descriptive_stats(x):
    return pd.Series({
        'media': x.mean(),
        'conteo':x.count(),
        'mediana': x.median(),
        'máximo': x.max(),
        'mínimo': x.min(),
        'desviación estándar': x.std()
    })

In [3]:
# API Key y Secret Key de tu aplicación
#api_key = "7fvwglwfbxf8uvq31kig8c2rq"
#secret_key = "64ufk2q2w5ebms16g3c78ibnvjsl6uqx9mqsyk1ljmex83k9p0"

# Nombre de usuario y contraseña para autenticación (si es necesario)
username = "jordan.cuchigay@hotmail.com"
password = "18deNoviembre"

# Inicializa el cliente autenticado con API Key y Secret Key
client = Socrata("www.datos.gov.co",
                 app_token="h5p7DRao1OXhVf8iJ6loA6TbN",
                 username=username,
                 password=password)

# Parámetros para filtrar la solicitud (en este caso, departamento=AMAZONAS)
filtro = "departamento='ANTIOQUIA'"

In [5]:
# Realiza la solicitud GET a la API con el filtro especificado
results_viento = client.get("sgfv-3yp8", where=filtro,limit=10000)

# Convertir a DataFrame de Pandas
df_viento = pd.DataFrame.from_records(results_viento)

In [6]:
# Convierte la columna 'fechaobservacion' al tipo de dato de fecha
df_viento['fechaobservacion'] = pd.to_datetime(df_viento['fechaobservacion'])
# Extrae el año de la columna 'fechaobservacion' y crea una nueva columna 'año'
df_viento['año'] = df_viento['fechaobservacion'].dt.year
# Convertir la columna 'valorobservado' a tipo numérico, tratando los errores como NaN
df_viento['valorobservado'] = pd.to_numeric(df_viento['valorobservado'], errors='coerce')

In [8]:
# Agrupa los datos por año y municipio y calcula todas las estadísticas descriptivas de 'valorobservado'
estadisticas_viento = df_viento.groupby(['año', 'municipio'])['valorobservado'].apply(all_descriptive_stats)

# Restablece el índice para que los grupos se conviertan en columnas
estadisticas_viento = estadisticas_viento.reset_index()


# Pivotea la tabla para que cada estadístico sea una columna separada
estadisticas_pivot_viento = estadisticas_viento.pivot_table(index=['año', 'municipio'], columns='level_2', values='valorobservado')

# Reinicia el índice para obtener un DataFrame plano
estadisticas_pivot_viento.reset_index(inplace=True)

In [10]:
estadisticas_pivot_viento.head()

level_2,año,municipio,conteo,desviación estándar,media,mediana,máximo,mínimo
0,2005,BELLO,45.0,1.336190,2.077778,1.7,6.1,0.3
1,2005,CHIGORODÓ,28.0,1.212196,1.985714,1.8,6.1,0.6
2,2005,ENTRERRIOS,21.0,1.604725,3.028571,2.9,7.1,0.8
3,2005,JERICÓ,18.0,1.121565,2.055556,1.8,4.8,0.7
4,2005,MEDELLÍN,15.0,0.948432,1.633333,1.3,4.0,0.6

Data Lluvia

In [11]:

# Realiza la solicitud GET a la API con el filtro especificado
results_lluvia = client.get("s54a-sgyg", where=filtro,limit=10000)

# Convertir a DataFrame de Pandas
df_lluvia = pd.DataFrame.from_records(results_lluvia)

In [12]:
# Convierte la columna 'fechaobservacion' al tipo de dato de fecha
df_lluvia['fechaobservacion'] = pd.to_datetime(df_lluvia['fechaobservacion'])
# Extrae el año de la columna 'fechaobservacion' y crea una nueva columna 'año'
df_lluvia['año'] = df_lluvia['fechaobservacion'].dt.year
# Convertir la columna 'valorobservado' a tipo numérico, tratando los errores como NaN
df_lluvia['valorobservado'] = pd.to_numeric(df_lluvia['valorobservado'], errors='coerce')

In [13]:
# Agrupa los datos por año y municipio y calcula todas las estadísticas descriptivas de 'valorobservado'
estadisticas_lluvia = df_lluvia.groupby(['año', 'municipio'])['valorobservado'].apply(all_descriptive_stats)

# Restablece el índice para que los grupos se conviertan en columnas
estadisticas_lluvia = estadisticas_lluvia.reset_index()


# Pivotea la tabla para que cada estadístico sea una columna separada
estadisticas_pivot_lluvia = estadisticas_lluvia.pivot_table(index=['año', 'municipio'], columns='level_2', values='valorobservado')

# Reinicia el índice para obtener un DataFrame plano
estadisticas_pivot_viento.reset_index(inplace=True)

In [15]:
estadisticas_pivot_lluvia.head()

level_2         conteo  desviación estándar     media  mediana  máximo  mínimo
año  municipio
2005 CHIGORODÓ    50.0             1.464855  0.346000      0.0     7.3     0.0
     RIONEGRO     50.0             0.246287  0.066000      0.0     1.6     0.0
     TURBO        44.0             0.527645  0.079545      0.0     3.5     0.0
2006 CHIGORODÓ    11.0             0.155505  0.072727      0.0     0.5     0.0
     RIONEGRO     12.0             0.088763  0.033333      0.0     0.3     0.0

Data Presión

In [22]:

# Realiza la solicitud GET a la API con el filtro especificado
results_pres = client.get("62tk-nxj5", where=filtro,limit=100000)

# Convertir a DataFrame de Pandas
df_pres = pd.DataFrame.from_records(results_pres)

In [23]:
df_pres.shape[0]

100000

In [24]:
# Convierte la columna 'fechaobservacion' al tipo de dato de fecha
df_pres['fechaobservacion'] = pd.to_datetime(df_pres['fechaobservacion'])
# Extrae el año de la columna 'fechaobservacion' y crea una nueva columna 'año'
df_pres['año'] = df_pres['fechaobservacion'].dt.year
# Convertir la columna 'valorobservado' a tipo numérico, tratando los errores como NaN
df_pres['valorobservado'] = pd.to_numeric(df_pres['valorobservado'], errors='coerce')

In [25]:
# Agrupa los datos por año y municipio y calcula todas las estadísticas descriptivas de 'valorobservado'
estadisticas_pres = df_pres.groupby(['año', 'municipio'])['valorobservado'].apply(all_descriptive_stats)

# Restablece el índice para que los grupos se conviertan en columnas
estadisticas_pres = estadisticas_pres.reset_index()


# Pivotea la tabla para que cada estadístico sea una columna separada
estadisticas_pivot_pres = estadisticas_pres.pivot_table(index=['año', 'municipio'], columns='level_2', values='valorobservado')

# Reinicia el índice para obtener un DataFrame plano
estadisticas_pivot_pres.reset_index(inplace=True)

In [27]:
estadisticas_pivot_pres.head()

level_2,año,municipio,conteo,desviación estándar,media,mediana,máximo,mínimo
0,2005,BELLO,873.0,8.884002,857.882245,858.7,863.5,751.8
1,2005,ENTRERRIOS,529.0,141.719878,813.076938,790.7,1104.9,605.7
2,2005,TURBO,935.0,36.287998,1003.708770,1008.9,1014.4,749.5
3,2006,BELLO,1614.0,1.870818,858.248947,858.5,863.5,851.8
4,2006,ENTRERRIOS,1057.0,107.266254,684.715705,641.9,1132.0,582.2